
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
:root {
	--md-dark: #1d1d1d;
	--dark-color: #171717;
	--light-dark: #292929;
	--primary-gradient:linear-gradient(155deg,#00feba, #5b548a);
	margin: unset;

}
body {
	font-family: "moolin";
	font-size: 16px;
	line-height: 1.5;
	color: red;
	height: 100%;
	background-color: var(--dark-color);
}

header.container {
	padding: 20px 0;
	max-height: 180px;
}
.row-logo{
	text-align: center;
}
.logo {
	font-size: 48px;
	font-weight: 500;
}

.logo span {
	color: red;
	font-weight: 700;
}
.container.cat-tags {

	margin: unset !important;
}

#movies-grid {
	display: flex;
	width: 100%;
	max-height: 100px;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: start;
	margin: 20px 0;
}
.movie-card {
	/*min-height: 272px;*/
	border-radius: 20px;
	color: white;
	/*background-color: #fff;*/
	width: calc(33.333% - 20px);
	height: 1017px;
	/*padding: 25px;*/
	display: flex;
	flex-direction: column;
	transition: 2s;
}
.movie-card:hover {
	transform: scale(1.05);
}

.movie-card-year {
	font-size: 14px;
	font-weight: 400;
	color: white;
	margin-bottom: 10px;
}
.movie-card-description {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 10px;
	max-height: 65px;
	overflow: hidden;
	flex: 1 0 65px;
}
.movie-card-rating {
	font-size: 14px;
	font-weight: 400;
	/*color: var(--dark-grey);*/
}
.movie-card-meter {
	width: 100%;
	margin-bottom: 10px;
}
button {
	border-radius: 25px;
	max-width: 250px;
}
/*loading*/
#preloader {
	display: none;
	background: #000 url("../img/preloder1.gif") no-repeat center center;
	background-size: 15%;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
}
#preloader.show {
	display: block;
}
.page-content {
	max-width: 768px;
	margin: 0 auto;
}
.custom-modal {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.custom-modal-bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	backdrop-filter: blur(5px);
}
.custom-modal-content {
	width: 100%;
	max-width: 500px;
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
}
article img {
	margin-right: unset;
	align-self: center;
	width: 100%;
	display: block;
}
.poster-img {
	width: 460px;
	border-radius: 30px;
	margin: unset;
}
.poster-img-carousel{
	border-radius: 25px;
}
.movie-card-description{
	color: white;
}
.movie-card-span{
	color: white;
}
.movie-card-rating{
	color: white;
}
form.search-element {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-direction: column;
}
form.search-element h4 {
	align-self: center;
	margin-right: 1rem;
	font-size: 2rem;
	color: #fff;
	font-weight: 500;
	margin-bottom: 1.5rem;
}
#search-movie-input {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	width: 350px;
	padding: 1rem 2rem;
	font-size: 1.4rem;
	border: none;
	outline: none;
	color: var(--light-dark);
}
.search-list {
	position: absolute;
	max-height: 500px;
	overflow-y: scroll;
	right: 0;
	top: 8%;
	z-index: 10;
}
.search-list .search-list-item {
	background-color: var(--light-dark);
	padding: .5rem;
	border-bottom: 1px solid var(--dark-color);
	width: calc(350px - 8px);
	color: #fff;
	cursor: pointer;
	transition: background-color 200ms ease;
}
.search-list .search-list-item:hover {
	background-color: #1f1f1f;
}
.search-list-item {
	display: flex;
	align-items: center;
}
.search-item-thumbnail img {
	width: 40px;
	margin-right: 1rem;
}
.search-item-info {
	font-weight: 600;
	font-size: 1rem;
}
.search-item-info p {
	font-size: 0.8rem;
	margin-top: 0.5rem;
	font-weight: 600;
	opacity: 0.6;
}

.search-list::-webkit-scrollbar {
	width: 8px;
}
.search-list::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.search-list::-webkit-scrollbar-thumb {
	background: var(red);
	outline: none;
	border-radius: 10px;
}

.hide-search-list {
	display: none;
}
.edit-delete-group{
	display: flex;
	justify-content: space-between;
}
/*.edit-movie-btn{*/
/*	width: 250px;*/
/*}*/
/*.delete-movie-btn{*/
/*	width: 250px;*/
/*}*/
.edit-movie-btn {
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	/*padding: 20px;*/
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.edit-movie-btn span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.edit-movie-btn span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.edit-movie-btn:hover span {
	padding-right: 25px;
}

.edit-movie-btn:hover span:after {
	opacity: 1;
	right: 0;
}
.delete-movie-btn {
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	/*padding: 20px;*/
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.delete-movie-btn span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.delete-movie-btn span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.delete-movie-btn:hover span {
	padding-right: 25px;
}

.delete-movie-btn:hover span:after {
	opacity: 1;
	right: 0;
}
.modal-content{
	background: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
}
#addMovieButton{
	background: rgb(6,14,131);
	background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
	border: none;
	width: 300px;
}
#addMovieButton:hover {
	background: rgb(0,3,255);
	background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}
#add-movie-btn{
	background: radial-gradient(circle at 10% 20%, rgb(221, 49, 49) 0%, rgb(119, 0, 0) 90%);
}
#add-movie-btn:hover {background-color: #3e8e41}

#add-movie-btn:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
textarea {
	width: 200px;
	height: 30px;
	/*padding: 12px 20px;*/
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
	resize: none;
}