
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
:root {
	--primary-color: #769e48;
	--grey: #e8e9eb;
	--dark-grey: #595f69;
	--bg-color: #f8f8f8;
}
body {
	font-family: "moolin";
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	height: 100%;
	background-color: #333333;
}

header.container {
	padding: 20px 0;
}
.row-logo{
	text-align: center;
}
.logo {
	font-size: 48px;
	font-weight: 500;
}

.logo span {
	color: red;
	font-weight: 700;
}

.container.cat-tags .column {
	border-bottom: 1px solid #e8e9eb;
}

ul.cat-tab-menu {
	display: flex;
	align-items: stretch;
	gap: 30px;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.cat-tab-menu li {
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	padding: 14px 0;
	border-bottom: 2px solid transparent;
	gap: 8px;
	cursor: pointer;
	transition: all ease 0.3s;
	color: #8a9099;
}

ul.cat-tab-menu li.active {
	border-bottom-color: var(--primary-color);
	color: #000;
}

ul.cat-tab-menu li span {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 10px;
	font-size: 14px;
	font-weight: 500;
	background-color: var(--dark-gray);
	border-radius: 3px;
}

.movies-grid {
	display: flex;
	width: 100%;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: start;
	margin: 20px 0;
}

.movie-card {
	/*min-height: 272px;*/
	border-radius: 20px;
	background-color: #fff;
	width: calc(33.333% - 20px);
	padding: 25px;
	display: flex;
	flex-direction: column;
	transition: 2s;
}
.movie-card:hover {
	transform: scale(1.05);
}

.movie-card-title {
	font-size: 20px;
	font-weight: bold;
}
.movie-card-year {
	font-size: 14px;
	font-weight: 400;
	color: var(--dark-grey);
	margin-bottom: 10px;
}
.movie-card img {
	max-width: 15rem;
	object-fit: scale-down;
}
.movie-card-description {
	font-size: 14px;
	font-weight: 400;
	color: var(--dark-grey);
	margin-bottom: 10px;
	max-height: 65px;
	overflow: hidden;
	flex: 1 0 65px;
}
.movie-card-span,
.movie-card-rating {
	font-size: 14px;
	font-weight: 400;
	color: var(--dark-grey);
}
.movie-card-meter {
	width: 100%;
	margin-bottom: 10px;
}
.movie-card-tag {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 20px;
	border-radius: 8px;
	background-color: var(--bg-color);
}
button.delete-movie-btn {
	border-radius: 25px;
}
.btn-cta {
	position: relative;
	left: 1158px;
	bottom: 45px;
	display: flex;
	color: white;
	background-color: green;
}

input[type="search"] {

	background: transparent;
	margin: 0;
	padding: 7px 8px;
	font-size: 14px;
	color: inherit;
	border: 1px solid transparent;
	border-radius: inherit;
}

input[type="search"]::placeholder {
	color: #bbb;
}
.btn-search-movie[type="submit"] {
	position: relative;
	right: 40px;
	text-indent: -999px;
	overflow: hidden;
	width: 40px;
	padding: 0;
	margin: 0;
	border: 1px solid transparent;
	border-radius: inherit;
	background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
	cursor: pointer;
	opacity: 0.7;
}

.btn-search-movie[type="submit"]:hover {
	opacity: 1;
}
button[type="submit"]:focus,
input[type="search"]:focus {
	box-shadow: 0 0 3px 0 #1183d6;
	border-color: #1183d6;
	outline: none;
}

/*loading demo*/
#preloader {
	display: none;
	background: #000 url("../img/preloder1.gif") no-repeat center center;
	background-size: 15%;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
}
#preloader.show {
	display: block;
}

.page-content {
	max-width: 768px;
	margin: 0 auto;
}

.custom-modal {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.custom-modal-bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	backdrop-filter: blur(5px);
}
.custom-modal-content {
	width: 100%;
	max-width: 500px;
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
}
.poster-img{
	display: flex;
	position: relative;
	/*flex-grow: 2 0 0;*/
	/*width: 100px;*/
}

